code/workflow.json
{
  "name": "workflow révision 3",
  "nodes": [
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_0jnNRiJzmqgjrHM0XSFmcLxK",
          "mode": "list",
          "cachedResultName": "Lyra_candidatures"
        },
        "prompt": "define",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        432,
        0
      ],
      "id": "acf4e3f1-db4d-491b-a49f-7cb0d8332b6b",
      "name": "Assistante Lyra fichiers",
      "credentials": {
        "openAiApi": {
          "id": "pfKjlJVuaInfVQmJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jerome.frasson84@gmail.com",
        "subject": "Réponse suite à votre message",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        0
      ],
      "id": "6aeee23f-a8f2-4c6f-a9fe-e9423a92ce94",
      "name": "envoi d'une réponse",
      "webhookId": "1f1c5d7e-536f-4edc-9d67-23019660d496",
      "credentials": {
        "gmailOAuth2": {
          "id": "De0NYq9KnxNHkOE8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "4490d0e7-59dd-4d97-aee9-64af8c4505e1",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "5DJSK6ILQppoDnNi",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93aba252-bfe5-44fc-b21e-dc3c50705654",
              "name": "=",
              "value": "",
              "type": "string"
            },
            {
              "id": "03419abb-6935-4178-86b5-11660b0d8efe",
              "name": "textPlain",
              "value": "={{ $json.textPlain }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "91286766-e1b2-4426-87eb-2e06408d8fbb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"textPlain\"] || \"\";\n\n// Fonction de correction UTF-8 mal interprété\nfunction fixEncoding(str) {\n  const buffer = Buffer.from(str, 'binary'); // force l’interprétation binaire brute\n  return buffer.toString('utf8');            // puis décode correctement en UTF-8\n}\n\n// Nettoyage final (sauts de ligne + espaces)\nconst cleaned = fixEncoding(raw)\n  .replace(/\\r?\\n/g, ' ')      // retire les sauts de ligne\n  .replace(/\\s{2,}/g, ' ')     // retire les doubles espaces\n  .trim();\n\nreturn [{\n  json: {\n    message: cleaned\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "ea874edf-0781-44b9-b74a-84d57003837d",
      "name": "Regex en JS N°1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const texteNettoye = item.json.output.replace(/【[^【】]*?†[^【】]*?】/g, '');\n  return {\n    json: {\n      ...item.json,\n      output: texteNettoye\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "848fc8c8-76cd-4c91-9978-933fda9af7c3",
      "name": "Regex en JS N°2"
    }
  ],
  "pinData": {},
  "connections": {
    "Assistante Lyra fichiers": {
      "main": [
        [
          {
            "node": "Regex en JS N°2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Regex en JS N°1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex en JS N°1": {
      "main": [
        [
          {
            "node": "Assistante Lyra fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex en JS N°2": {
      "main": [
        [
          {
            "node": "envoi d'une réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f73d3bcf-d048-409c-bbf2-3c951021e25d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f06125026a9b558f57ce462e33a4980734204a6d150181a74eeca2e3901bc35"
  },
  "id": "XA2ZTwSIQ9b1xhRM",
  "tags": []
}